<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>PergiPergi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div>
                <div class="container">
                    <h2 class="mt-4 pb-4">Daftar Pembelian</h2>
                    <hr>
                    <button type="button" class="btn btn-primary mr-4">Tambah Pembelian</button>
                    <div class="col-8 mt-4">
                        <p>Cari Barang</p>
                        <input class="form-control mt-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cari Barang...">
                    </div>
                    <br>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">No Invoice</th>
                                <th scope="col">Total Harga</th>
                                <th scope="col">Pembeli</th>
                                <th scope="col">Jumlah Barang</th>
                                <th scope="col">Tanggal Garansi</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="angka,iter : ${listAngka}">
                                <th scope="row" th:text="${angka+1}"></th>
                                <td th:text="${listNoInvoice[angka]}"></td>
                                <td th:text="${listTotalHarga[angka]}"></td>
                                <td th:text="${listNamaPembeli[angka]}"></td>
                                <td th:text="${listTanggal[angka]}"></td>
                                <td th:text="${listJumlah[angka]}"></td>
                                <td>
                                    <button class="btn btn-primary">Lihat</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning">Ubah</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger">Hapus</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br>
                <!-- <a class="btn btn-primary" href="/agensi/add">Tambah Agensi</a>
                <a class="btn btn-primary" href="/agensi/viewall">Lihat Semua</a> -->
            </div>
        </div>
    </div>
</div>

</body>
</html>