<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>PergiPergi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div>
                <div class="container">
                    <h2 class="mt-4 pb-4">Tambah Pembelian</h2>
                    <hr>

                    <div class="col-8">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nama Admin</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="col-8">
                        <div class="row">
                            <div>
                                <label>Pembeli</label>
                                <select class="form-control">
                                    <option selected>Papa APAP</option>
                                    <option>Mama APAP</option>
                                    <option>Adik APAP</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="ml-4 pl-4 col-8">
                        <label for="exampleInputPassword1" class="mb-2">Pembayaran</label>
                        <div class="row">
                            <div>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Cash
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Online Payment
                                </label>
                            </div>
                        </div>
                    </div>

                    <br>
                    <h5> Daftar Barang</h5>
                    <hr>
                    <div class="row container">
                        <div class="col-8">
                            <div class="row">
                                <div>
                                    <label>Barang</label>
                                    <select class="form-control">
                                        <option selected>Lenovo Yoga</option>
                                        <option>Mama APAP</option>
                                        <option>Adik APAP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Qty</label>
                                    <input type="number" min="0" class="form-control" id="exampleInputPassword1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row container">
                        <div class="col-8">
                            <div class="row">
                                <div>
                                    <label>Barang</label>
                                    <select class="form-control">
                                        <option selected>Lenovo Yoga</option>
                                        <option>Mama APAP</option>
                                        <option>Adik APAP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Qty</label>
                                    <input type="number" min="0" class="form-control" id="exampleInputPassword1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary mr-4">Tambah Barang</button>
                    <hr>
                    <br>
                    <button type="button" class="btn btn-primary mr-4">Simpan</button>
                    <button type="button" class="btn btn-outline-primary">Kembali</button>
                </div>

                <br>
                <!-- <a class="btn btn-primary" href="/agensi/add">Tambah Agensi</a>
                <a class="btn btn-primary" href="/agensi/viewall">Lihat Semua</a> -->
            </div>
        </div>
    </div>
</div>

</body>
</html>