<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>PergiPergi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div>
                <div class="container">
                    <h2 class="mt-4 pb-4">Tambah Barang</h2>
                    <hr>
                    <div class="col-8">
                        <div class="row">
                            <div>
                                <label>Tipe</label>
                                <select class="form-control" disabled>
                                    <option>Hanphone</option>
                                    <option>Laptop</option>
                                    <option>Tablet</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-8">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nama</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" value="Yoga" disabled>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-8">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Merk</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" value="Lenovo" disabled>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-8">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Deskripsi</label>
                                <input type="textarea" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-8">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Stok</label>
                                <input type="number" min="0" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-8">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Tanggal Garansi</label>
                                <input type="datetime-local" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary mr-4">Simpan</button>
                    <button type="button" class="btn btn-outline-primary">Kembali</button>
                </div>

                <br>
                <!-- <a class="btn btn-primary" href="/agensi/add">Tambah Agensi</a>
                <a class="btn btn-primary" href="/agensi/viewall">Lihat Semua</a> -->
            </div>
        </div>
    </div>
</div>

</body>
</html>